#include "resource.h"
#include <windows.h>

IDR_RIMVS RCDATA "Debug - III\\rimVS.cso"
IDR_VEHICLEONEVS RCDATA "Debug - III\\vehiclePass1VS.cso"
IDR_VEHICLETWOVS RCDATA "Debug - III\\vehiclePass2VS.cso"
IDR_WORLDPS RCDATA "Debug - III\\worldPS.cso"
IDR_GLOSSVS RCDATA "Debug - III\\glossVS.cso"
IDR_GLOSSPS RCDATA "Debug - III\\glossPS.cso"
IDR_CURVEPS RCDATA "Debug - III\\curvePS.cso"
